.dark-theme-favorites {
  background-color: #111823;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.light-theme-favorites {
  background-color: #f6f6f6;
  padding: 10px 30px;
  font-weight: 600;
  border-radius: 15px;
  color: #3a3a3a;
  cursor: pointer;
}
.dropdown-dj-usernav {
  display: flex;
}
.name-dd-usernav {
  margin-left: 10px;
}
